/* make a dark + blue mode and another thats white and light blue

*/


body,
html,
* {
  font-size: 25px;
  box-sizing: border-box;
  margin: 20px;
  padding: 0px;
}

:root{
  --lightBlue: #eef3fa;
  --lightishBlue: #bee0fe;
  --ligthishishBlue: #98bffc;
  --Blue: #5d93fc;
  --BlueBlue: #247dfc;
  --TrueBlue: #085cff;
  --DarkishishBlue: #7e8dca;
  --TrueDark: #232a52;
  --Dark: #000625;
  --Alice: aliceblue;
}

.dark{
  --primary: var(--DarkishishBlue);
  --secondary: var(--TrueDark);
  --colord: var(--Dark);
  --text: var(--Alice);
}

.light{
  --primary: var(--lightishBlue);
  --secondary: var(--BlueBlue);
  --colord: var(--lightishBlue);
  --text: var(--Dark);
}

.app {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}

.Container{
  background-color: var(--secondary);
}

.type{
  color: var(--text);
  align-items: center;
}

button {
  color: var(--text);
  letter-spacing: 0.1rem;
  width: fit-content;
  background-color: var(--primary);
  margin: 0;
  padding: 0;
  text-decoration: none;
}

input {
  color: var(--text);
  letter-spacing: 0.1rem;
  width: fit-content;
  background-color: var(--primary);
  margin: 100;
  padding: 0;
  text-decoration: none;
}

.card {
  height: auto;
  width: 20vw;
  color: var(--text);
  background-color: var(--primary);
  border-radius: 25px;
  justify-content: space-between;
  text-align: center;
  display: flexbox;
  box-shadow: 0 10px 10px var(--secondary) ;
  transition: all 1s;
}

.card-img {
  width: 65%;
  margin-left: 10%;
  margin-right: 10%;

}
<!-- HTML !-->
<button class="button-73" role="button">Button 73</button>

/* CSS */
.button-73 {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-73:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}

img{
  min-width: 250px;
  min-height: 250px;
  max-width: 250px;
  max-height: 250px;
}

body {
  background-color: var(--colord);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
  color: var(--text);
  text-align: center;
  font-size: 45px;
}

.card-text-color {
  color: var(--text);
  display: flexbox;
}

.card-header-color {
  color: var(--text);
  display: flexbox;
  padding-top: 10px;
}

.card:hover {
  transform: scale(1.05); 
} 

@media screen and (max-width: 1180px) {
  .card {
      width: 45%;
  }
  img{
    object-fit: cover;
  }
}
@media screen and (max-width: 500px) {
  .card {
      width: 80%;
  }
  img{

    object-fit: cover;
  }
}