/* make a dark + blue mode and another thats white and light blue

light theme colors
#eef3fa
#bee0fe
#98bffc
#5d93fc
#247dfc
#085cff
*/

body,
html,
* {
  font-size: 25px;
  box-sizing: border-box;
  margin: 20px;
  padding: 0px;
}

.app {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}

.Container{
  background-color: #232a52;
}

.type{
  color: aliceblue;
  align-items: center;
}

button {
  color: aliceblue;
  letter-spacing: 0.1rem;
  width: fit-content;
  background-color: #7e8dca;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.card {
  height: auto;
  width: 21vw;
  background-color: #7e8dca;
  border-radius: 25px;
  justify-content: space-between;
  text-align: center;
  display: flexbox;
  box-shadow: 0 10px 10px #232a52 ;
  transition: all 1s;
}

.card-img {
  width: 65%;
  margin-left: 10%;
  margin-right: 10%;

}

img{
  min-width: 250px;
  min-height: 250px;
  max-width: 250px;
  max-height: 250px;
}

body {
  background-color: #000625;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
  color: aliceblue;
  text-align: center;
  font-size: 45px;
}

.card-text-color {
  color: aliceblue;
  display: flexbox;
}

.card-header-color {
  color: aliceblue;
  display: flexbox;
  padding-top: 10px;
}

.card:hover {
  transform: scale(1.05); 
} 

@media screen and (max-width: 1180px) {
  .card {
      width: 45%;
  }
  img{
    object-fit: cover;
  }
}
@media screen and (max-width: 500px) {
  .card {
      width: 80%;
  }
  img{

    object-fit: cover;
  }
}